<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GUEST" connectionString="Server=DESKTOP-8V0PGDF\MSSQLSERVER2019;Database=AlojamentoDB;User Id=guest;Password=1234;Connection Timeout=4" />
    <add name="CUSTOMER" connectionString="Server=DESKTOP-8V0PGDF\MSSQLSERVER2019;Database=AlojamentoDB;User Id=customer;Password=1234;Connection Timeout=4" />
    <add name="STAFF" connectionString="Server=DESKTOP-8V0PGDF\MSSQLSERVER2019;Database=AlojamentoDB;User Id=staff;Password=1234;Connection Timeout=4" />
    <add name="ADMIN" connectionString="Server=DESKTOP-8V0PGDF\MSSQLSERVER2019;Database=AlojamentoDB;User Id=admin;Password=1234;Connection Timeout=4" />
  </connectionStrings>
</configuration>